<header>
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mNavbar"
         style="color: black; height: auto;">
      <!-- logo -->
      <a class="navbar-brand" href="#"> <img src="src/assets/images/cropped-LogoVectorRED-1.png" alt="eqw"></a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link" href="/rooms">Rooms</a>
          </li>
        </ul>
        <div class="container h-100" id="search_feild" style="width: 500px;">
          <div class="d-flex justify-content-center h-80">
            <div class="searchbar">
              <input class="search_input" type="text" name="" placeholder="Search...">
              <a href="#" class="search_icon"><i class="fas fa-search"></i></a>
            </div>
          </div>
        </div>
        <ul *ngIf="name=='admin'; else elseBlock" class="nav navbar-nav navbar-right ml-auto">
          <li class="nav-item">
            <a class="nav-link dropdown-toggle" href="/login" >Welcome</a>
          </li>
          <li class="nav-item">
            <a href="/registration" class="btn btn-primary get-started-btn mt-1 mb-1">Admin</a>
          </li>
        </ul>
        <ng-template #elseBlock>
          <ul class="nav navbar-nav navbar-right ml-auto">
            <li class="nav-item">
              <a class="nav-link dropdown-toggle" href="/login" >Login</a>
            </li>
            <li class="nav-item">
              <a href="/registration" class="btn btn-primary get-started-btn mt-1 mb-1">Sign up</a>
            </li>
          </ul>
        </ng-template>
      </div>
    </nav>
  </div>
</header>
<router-outlet></router-outlet>
