<footer>
  <div class="col-md-12 resources pull-right" style="text-align: center; width: 100%; font-size: 30px; margin: 10px 0px 4px; padding-bottom: 10px;text-shadow: 2px 4px 1px black, 0px 0px 1em rgba(220, 53, 69, 0.5); color: #bf1e2e; ">
    <blockquote>"Feel like a God, rest like in heaven!"</blockquote>
  </div>
<p> ITS IS FOOTER</p>
  <div class="container bottom_border">
    <div class="row">
      <div class=" col-sm-4 col-md col-sm-4  col-12 col">
        <h5 class="headin5_amrc col_white_amrc pt2">FirstOffice</h5>
        <!--headin5_amrc-->
        <p class="mb10">Our first office is located in Astana, you can always come and ask your questions.</p>
        <p><i class="fa fa-location-arrow"></i> 109 Abay avenue.</p>
        <p><i class="fa fa-phone"></i> 87054664803(Dmitry)</p>
        <p><i class="fa fa-phone"></i> 87078580354</p>
        <p><i class="fa fa fa-envelope"></i>  dmitry_smirnov@iitu.kz </p>
      </div>
      <div class=" col-sm-4 col-md col-sm-4  col-12 col">
        <h5 class="headin5_amrc col_white_amrc pt2">SecondOffice</h5>
        <!--headin5_amrc-->
        <p class="mb10">Our second office is open in Almaty, so that from here people can ask questions of interest to them, the development department also works here.</p>
        <p><i class="fa fa-location-arrow"></i> Mamyr 4, Building 10.</p>
        <p><i class="fa fa-phone"></i>  87024031199 </p>
        <p><i class="fa fa-phone"></i> 87078580354</p>
        <p><i class="fa fa fa-envelope"></i>  evfienasd_adsad@iitu.kz </p>

      </div>

      <div class=" col-sm-4 col-md  col-12 col">
        <h5 class="headin5_amrc col_white_amrc pt2">Follow us</h5>
        <!--headin5_amrc ends here-->

        <ul class="footer_ul2_amrc">
          <li><i class="fab fa-instagram fleft padding-right" style="color: purple"></i><p>Dmitry Smirnov IS-1815R 20 y.o.Сlick<a href="https://www.instagram.com/dimon_cool00/?hl=en" target="_blank"> here </a>for to find some information about me</p></li>
        </ul>
        <!--footer_ul2_amrc ends here-->
      </div>
    </div>
  </div>


  <div class="container back_part">
    <p class="text-center">Copyright @2020 | Designed by <a href="#">IITU students</a></p>

    <ul class="social_footer_ul">
      <li><a href="home.html" target="_blank"><i class="fas fa-university"></i></a></li>
      <li><a href="https://www.instagram.com/iitu_kz/?hl=en" target="_blank"><i class="fab fa-instagram"></i></a></li>
      <li><a href="https://ru-ru.facebook.com/iitukz/" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
      <li><a href="https://twitter.com/iitukz" target="_blank"><i class="fab fa-twitter"></i></a></li>
    </ul>
    <!--social_footer_ul ends here-->
  </div>

</footer>
