<div class="container">
  <div class="card bg-light">
    <article class="card-body mx-auto" style="max-width: 400px;">
      <h4 class="card-title mt-3 text-center">Create Account</h4>
      <p class="text-center">Get started with your account!</p>
      <p>
        <a href="" class="btn btn-block btn-twitter"> <i class="fab fa-twitter"></i>   Login via Twitter</a>
        <a href="" class="btn btn-block btn-facebook"> <i class="fab fa-facebook-f"></i>   Login via facebook</a>
      </p>
      <p class="divider-text">
        <span class="bg-light">OR</span>
      </p>
      <form method="post" enctype="multipart/form-data">

        <div class="form-group">
        <input type="submit" class="btn btn-primary get-started-btn mt-1 mb-1 btn_reg"  value="Register">
        </div> <!-- form-group// -->
        <p class="text-center" >Have an account? <a href="{% url 'accounts:login' %}"style="color: #6d0019" >Log In</a> </p>
      </form>
    </article>
  </div> <!-- card.// -->

</div>
