<div class="background4"></div>
<div class="background3"></div>
<div class="jumbotron" style="  margin-bottom: 0rem;">
  <h1 class="display-4" style="text-align: center;">Hello, Guest!<i class="fas fa-user"></i></h1>
  <p class="lead">You welcome the HotelManagment System.<i class="fas fa-bed"></i>.Dear guest on this site you can see all the current photos of the hotel, its rooms, see all the rooms that are available at the moment. We also officially cooperate with the Rixos hotel and all information is relevant.</p>
  <p class="lead">Looking for where to stay in Dubai? You don't have to search anymore. The Rixos Premium Dubai is an elite hotel that will help you experience Dubai in the best possible way.</p>
  <p class="lead">Rooms are equipped with flat screen TVs, air conditioning and minibars, and guests can be online at any time thanks to the free Wi-Fi that the hotel offers.</p>
  <p class="lead">Rixos Premium Dubai offers room service and concierge services to make your stay even more enjoyable. There is also a pool and breakfast. For those arriving at Rixos Premium Dubai by car, free parking is available.</p>
  <p class="lead">The proximity to some of Dubai's most popular attractions, such as the Flying Cup (0.4 km) and the Dubai Water Canal (1.0 km), makes Rixos Premium Dubai a very attractive tourist destination.</p>
  <p class="lead">While in Dubai, you may want to try some restaurants near Rixos Premium Dubai, such as Buddha-Bar (1.1 km), Barasti Beach Bar (1.6 km) and Observatory Bar & Grill (1.4 km) ...</p>
  <p class="lead">Most importantly, while staying at Rixos Premium Dubai, you can easily visit many of Dubai's great attractions, such as Al Jaber Gallery, Alserkal Avenue Arts District and Gulf Photo Plus, which are popular art galleries.</p>
  <p class="lead">We are confident that you will love Rixos Premium Dubai. While staying here, you will be able to see everything that Dubai has to offer visitors to the city.</p>
</div>
<div class="gallery" id="gallery">
  <div class="jumbotron" style="  margin-bottom: 0rem;">
    <h1 class="display-4" style="text-align: center;"><i class="fas fa-angle-double-left"></i><b>Photo Gallery</b><i class="fas fa-angle-double-right"></i></h1>
    <p class="lead" style="text-align: center">Here you can see in detail the photos of our hotel, various types and restaurants that we have.All photos are of good quality and provided by the administration of the Rixos hotel.</p>
  </div>
  <app-galery></app-galery>
  <app-login></app-login>
  <app-registration></app-registration>
  <app-rooms></app-rooms>
  <app-roomdetail></app-roomdetail>
</div>
