<div class="container">
  <div class="row">
    <div class="col-lg-4 col-sm-6">
      <div class="thumbnail">
        <div class="photo" data-title="View from the street"><img src="/assets/images/recreational-facility.jpg" alt="" class="photoingal" style="max-height: 100%"></div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6">
      <div class="thumbnail">
        <div class="photo" data-title="Our Milkshake"><img src="/assets/images/recreational-facility.jpg" alt="" class="photoingal"></div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6">
      <div class="thumbnail">
        <div class="photo" data-title="View from the street"><img src="/assets/images/recreational-facility.jpg" alt="" class="photoingal"></div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6">
      <div class="thumbnail">
        <div class="photo" data-title="Vied from the street"><img src="/assets/images/recreational-facility.jpg" alt="" class="photoingal"></div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6">
      <div class="thumbnail">
        <div class="photo" data-title="Open pool"><img src="/assets/images/recreational-facility.jpg" alt="" class="photoingal"></div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6">
      <div class="thumbnail">
        <div class="photo" data-title="Our restaurant"><img src="/assets/images/recreational-facility.jpg" alt="" class="photoingal"> </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6">
      <div class="thumbnail">
        <div class="photo" data-title="Open pool"><img src="/assets/images/recreational-facility.jpg" alt="" class="photoingal"> </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6">
      <div class="thumbnail">
        <div class="photo" data-title="Guests Room"><img src="/assets/images/recreational-facility.jpg" alt="" class="photoingal"> </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6">
      <div class="thumbnail">
        <div class="photo" data-title="Our restaurant"><img src="/assets/images/recreational-facility.jpg" alt="" class="photoingal"> </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6">
      <div class="thumbnail">
        <div class="photo" data-title="View from the street"><img src="/assets/images/recreational-facility.jpg" alt="" class="photoingal"> </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6">
      <div class="thumbnail">
        <div class="photo" data-title="Our restaurant"><img src="/assets/images/recreational-facility.jpg" alt="" class="photoingal"> </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6">
      <div class="thumbnail">
        <div class="photo" data-title="Our restaurant"><img src="/assets/images/recreational-facility.jpg" alt="" class="photoingal"> </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6">
      <div class="thumbnail">
        <div class="photo" data-title="Indoor pool"><img src="/assets/images/recreational-facility.jpg" alt="" class="photoingal"> </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6">
      <div class="thumbnail">
        <div class="photo" data-title="Our SpaZone"><img src="/assets/images/recreational-facility.jpg" alt="" class="photoingal"> </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6">
      <div class="thumbnail">
        <div class="photo" data-title="Our Gym"><img src="/assets/images/recreational-facility.jpg" alt="" class="photoingal"> </div>
      </div>
    </div>
  </div>
</div>
